.DS_Store

# Project Dir
drafts/*
data/*

# Jupyter Notebook
.ipynb_checkpoints

# IPython
profile_default/
ipython_config.py

# pyenv
.python-version

# Environments
.env
.venv
.envrc
env/
venv/
ENV/
env.bak/
venv.bak/
